* @CSC290-2025/development-leads @CSC290-2025/infrastructure-leads

# package config
package.json @CSC290-2025/development-leads @CSC290-2025/infrastructure-leads
package-lock.json @CSC290-2025/development-leads @CSC290-2025/infrastructure-leads
pnpm-lock.yaml @CSC290-2025/development-leads @CSC290-2025/infrastructure-leads
yarn.lock @CSC290-2025/development-leads @CSC290-2025/infrastructure-leads
bun.lockb @CSC290-2025/development-leads @CSC290-2025/infrastructure-leads

# build and bundler config
vite.config.ts @CSC290-2025/development-leads @CSC290-2025/infrastructure-leads

# entry files
src/index.ts @CSC290-2025/development-leads @CSC290-2025/infrastructure-leads

# CI/CD config
.github/ @CSC290-2025/development-leads @CSC290-2025/infrastructure-leads

# root config files
*.config.* @CSC290-2025/development-leads @CSC290-2025/infrastructure-leads
.*rc @CSC290-2025/development-leads @CSC290-2025/infrastructure-leads
.*rc.* @CSC290-2025/development-leads @CSC290-2025/infrastructure-leads
tsconfig.json @CSC290-2025/development-leads @CSC290-2025/infrastructure-leads

# database and schema files
/prisma/* @CSC290-2025/database-leads @CSC290-2025/development-leads @CSC290-2025/infrastructure-leads

# documentation
/docs/ @CSC290-2025/development-leads @CSC290-2025/infrastructure-leads
/README.md @CSC290-2025/development-leads @CSC290-2025/infrastructure-leads
/src/index.ts @CSC290-2025/development-leads @CSC290-2025/infrastructure-leads
/src/config/ @CSC290-2025/development-leads @CSC290-2025/infrastructure-leads
/src/middlewares/ @CSC290-2025/development-leads @CSC290-2025/infrastructure-leads
/src/utils/ @CSC290-2025/development-leads @CSC290-2025/infrastructure-leads
/src/errors/ @CSC290-2025/development-leads @CSC290-2025/infrastructure-leads
